@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-70px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body {
    background: #E1F5EE;
}

nav {
    background: #9FE1CB;
    padding: 15px;
    border-bottom: 1px solid black;
    transition: all 0.2s ease;
    animation: fadeIn 1.3s ease-out forwards;
}

nav:active {
    background: #5DCAA5;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.title a {
    letter-spacing: 0px;
    transition: all 0.2s ease;
}

.title a:active {
    letter-spacing: 5px;
}

.nav-content a {
    font-weight: 500;
    letter-spacing: 0px;
    transition: all 0.2s ease;
}

.nav-content a:active {
    letter-spacing: 2px;
}

.title {
    font-size: 18px;
    margin-right: auto;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.intro {
    margin: 50px 0 0 0;
    background: #9FE1CB;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top: 1px solid black;
    border-bottom: 3px solid black;
    animation: fadeInn 1.4s ease-out forwards;
}

.isi-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

img {
    margin-top: 20px;
    width: 130px;
    height: 130px;
    border-radius: 10px;
    object-fit: cover;
}

.isi-intro p {
    padding: 0 15px 25px 15px;
    text-align: justify;
    font-size: 20px;
}

.nama {
    font-weight: bold;
    color: #F07820;
}

.kampus {
    font-weight: bold;
    color: #0C447C;
}

.passion {
    font-weight: bold;
    color: #A32D2D;
}

.portofolio {
    padding: 20px;
    border: 1px solid transparent;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 0.2s ease;
}

.portofolio:active {
    background: #5DCAA5;
    border: 1px solid black;
}

.portofolio h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    color: white;
}

.grid-portofolio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.project-card {
    padding: 10px;
    background: transparent;
    border-radius: 15px;
    border: 1px solid white;
    color: white;
    transition: all 0.2s ease;
}

.project-card:active {
    background: #E1F5EE40;
}

.porto {
    color: white;
}

@media (min-width: 768px) {
    .nav-content a {
        font-size: 18px;
    }

    .title {
        font-size: 20px;
    }

    .intro {
        border-top-right-radius: 150px;
        border-top-left-radius: 150px;
    }

    .isi-intro {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding: 25px 50px 0 50px;
        gap: 30px;
    }

    .isi-intro p {
        padding: 25px 15px;
        font-size: 20px;
    }

    img {
        margin: 0;
        width: 200px;
        height: 200px;
        flex-shrink: 0;
    }

    .portofolio h2 {
        font-size: 25px;
    }

    .project-card h3 {
        font-size: 18px;
    }

    .project-card a {
        font-size: 16px;
    }

}

@media (min-width: 1024px) {
    nav {
        padding: 20px;
        transition: all 0.4s ease;
    }

    nav:hover {
        background: #5DCAA5;
        border-bottom: 1px solid black;
    }

    img {
        margin: 0;
        width: 250px;
        height: 250px;
        flex-shrink: 0;
    }

    .nav-content a {
        font-size: 20px;
        transition: all 0.4s ease;
    }

    .nav-content a:hover {
        letter-spacing: 2px;
    }

    .title {
        font-size: 22px;
    }

    .title a {
        letter-spacing: 0px;
        transition: all 0.4s ease;
    }

    .title a:hover {
        letter-spacing: 5px;
    }

    .intro {
        border-top-right-radius: 200px;
        border-top-left-radius: 200px;
    }

    .portofolio {
        padding: 20px;
        border: 1px solid transparent;
        border-top-right-radius: 100px;
        border-top-left-radius: 100px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        transition: all 0.4s ease;
    }

    .portofolio:hover {
        background: #5DCAA5;
        border: 1px solid black;
    }

    .grid-portofolio {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-card {
        padding: 10px;
        background: transparent;
        border-radius: 15px;
        border: 1px solid white;
        color: white;
        transition: all 0.4s ease;
    }

    .project-card:hover {
        background: #E1F5EE40;
    }

    .isi-intro {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding: 50px 50px 0 50px;
        gap: 40px;
    }


    .isi-intro p {
        padding: 15px 25px;
        font-size: 30px;
    }

    .portofolio h2 {
        font-size: 35px;
    }

    .project-card h3 {
        font-size: 25px;
    }

    .project-card a {
        font-size: 20px;
    }

}
